.registro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #f4c8a3, #f29e7c); /* Gradiente en tonos naranja sahara */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Se ajusta la altura al tamaño de la ventana del navegador */
}

form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-left, .form-right {
  width: 48%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.telefonos-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los inputs de teléfono */
  margin-bottom: 10px;
}

.telefonos-container button {
  width: 30px; /* Modifica el tamaño según sea necesario */
  padding: 5px;
  background-color: #e76f51; /* Color de fondo del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px; /* Tamaño del texto */
}

.telefonos-container > div {
  display: flex;
  align-items: center;
  gap: 7px; /* Espacio entre el input y los botones */
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container input {
  flex-grow: 1;
  margin-right: 5px; /* Espacio entre el input y el botón */
}

.password-container button {
  width: 20%;
  margin-left: 5px;
  padding: 5px;
  background-color: #e76f51; /* Naranja sahara para el botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e07a5f; /* Fondo naranja sobrio */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"] {
  width: 30%; /* Reduce el tamaño del botón Registrarse */
  padding: 8px;
  font-size: 18px;
}

.boton-volver {
  width: 15%; /* Reduce el tamaño del botón Volver */
  background-color: #e76f51; /* Naranja sahara sobrio */
  font-size: 18px;
}

.asterisco {
  color: red;
}

.campo-requerido-texto {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
}

/* Contenedor para alinear los botones en una fila */
.botones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Estilo de los botones */
.botones-container button {
  padding: 8px 16px;
  font-size: 18px;
  width: auto; /* Ancho dinámico basado en el texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.modal {
  display: block; /* Muestra el modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
