<div class="registro-container">
  <h2>Registro para Cliente</h2>
  <form (ngSubmit)="Enviar()">

    <p class="campo-requerido-texto">* Campo requerido</p>

    <div class="form-container">
      <div class="form-left">

        <label for="cedula">Número de Cédula: <span class="asterisco">*</span></label>
        <input type="text" id="cedula" name="cedula" [(ngModel)]="cedula" (input)="formatearCedula()" maxlength="11" required placeholder="1-2345-6789">

        <label for="nombre">Nombre del comercio: <span class="asterisco">*</span></label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required placeholder="Ej: Juan Diego">

        <label for="tipo">Tipo de Comercio: <span class="asterisco">*</span></label>
        <input type="text" id="tipo" name="tipo" [(ngModel)]="tipo" required placeholder="Ej: Dulceria">

        <h5>Dirección</h5>

        <label for="provincia">Provincia: <span class="asterisco">*</span></label>
        <select id="provincia" name="provincia" [(ngModel)]="provincia" required>
          <option value="sj">San José</option>
          <option value="alajuela">Alajuela</option>
          <option value="cartago">Cartago</option>
          <option value="heredia">Heredia</option>
          <option value="guanacaste">Guanacaste</option>
          <option value="puntarenas">Puntarenas </option>
          <option value="limon">Limón</option>
        </select>

        <label for="canton">Cantón: <span class="asterisco">*</span></label>
        <input id="canton" name="canton" type="text" [(ngModel)]="canton" required placeholder="Ej: Santa Ana">
      </div>

      <div class="form-right">

        <label for="distrito">Distrito: <span class="asterisco">*</span></label>
        <input id="distrito" name="distrito" type="text" [(ngModel)]="distrito" required placeholder="Ej: Pozos">

        <label for="telefono1">Teléfono 1: <span class="asterisco">*</span></label>
        <input id="telefono1" type="text" [(ngModel)]="telefono1" required placeholder="Ej: 8888-8888">

        <div *ngIf="mostrarTelefono2">
          <label for="telefono2">Teléfono 2:</label>
          <input id="telefono2" type="text" [(ngModel)]="telefono2" placeholder="Ej: 8888-8888">
        </div>

        <div *ngIf="mostrarTelefono3">
          <label for="telefono3">Teléfono 3:</label>
          <input id="telefono3" type="text" [(ngModel)]="telefono3" placeholder="Ej: 8888-8888">
        </div>

        <button type="button" (click)="eliminarTelefono()">-</button>

        <button type="button" (click)="agregarTelefono()">+</button>

        <label for="email">Correo: <span class="asterisco">*</span></label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Ej: example@gmail.com">

        <label for="sinpe">Número de SINPE móvil: <span class="asterisco">*</span></label>
        <input id="sinpe" name="sinpe" type="text" [(ngModel)]="sinpe" required placeholder="Ej: 8888-8888">

        <label for="admin">Administrador del comercio: <span class="asterisco">*</span></label>
        <input id="admin" name="admin" type="text" [(ngModel)]="admin" required placeholder="Ej: Juan Perez">
      </div>
    </div>

    <button type="button" (click)="backTobienvenida()">Volver</button>
    <button type="submit">Registrar</button>

  </form>
</div>


